body {
    background-color: white;
    margin: 0px;
    padding: 0px;
}

li {
    display: inline;
    border: 1px solid grey;
    margin: 0px;
}

#header {
    border: 1px solid black;
    overflow: hidden;
}

.left-nav {
    float: left;
}

.right-nav {
    float: right;
}

#main-area {
    text-align: center;
    padding-top: 100px;
}

div form {
    margin: 30px;
}

div input {
    border-radius: 30px;
    width: 500px;
    height: 30px;
}

div button {
    border-radius: 5px;
    padding: 10px;
    border-style: none;
    font-size: 16px;
}

#footer {
    background-color: #f2f2f2;
    position: absolute;
    bottom: 0;
    width: 100%;
}